nav{
/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1200px;
height: 148px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;

}
